<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>もっと見る</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <style>
    .main {
      display: flex;
      flex-wrap: wrap;
    }

    .card {
      width: 32%;
      margin-left: 2%;
      margin-bottom: 2%;
    }

    .card:nth-child(3n+1) {
      margin-left: 0;
    }
  </style>
</head>

<body>
  <div class="container" id="app">
    <h1>もっと見る</h1>
    <main class="main">
      <article v-for="article in articles" class="card">
        <img v-bind:src="article.thumbnail" alt="">
      </article>
    </main>
    <button class="button" v-on:click="load" v-if="hasNext">もっと見る</button>
  </div>

  <script>
    const thumbnailList = {
      "count": 10,
      "articles": [
        { "thumbnail": "./images/load-more/thumbnail_01.jpg" },
        { "thumbnail": "./images/load-more/thumbnail_02.jpg" },
        { "thumbnail": "./images/load-more/thumbnail_03.jpg" },
        { "thumbnail": "./images/load-more/thumbnail_04.jpg" },
        { "thumbnail": "./images/load-more/thumbnail_05.jpg" },
        { "thumbnail": "./images/load-more/thumbnail_06.jpg" },
        { "thumbnail": "./images/load-more/thumbnail_07.jpg" },
        { "thumbnail": "./images/load-more/thumbnail_08.jpg" },
        { "thumbnail": "./images/load-more/thumbnail_09.jpg" },
        { "thumbnail": "./images/load-more/thumbnail_10.jpg" },
      ]
    }

    const loadNum = 3;
    var vm = new Vue({
      el: '#app',
      data: {
        articles: [],
        hasNext: true
      },
      methods: {
        load: function () {
          var self = this;
          self.articles = self.articles.concat(thumbnailList.articles.slice(self.articles.length, self.articles.length + loadNum));
          if (self.articles.length >= thumbnailList.count) {
            self.hasNext = false;
          }
        }
      },
      mounted: function () {
        this.load();
      }
    });
  </script>
</body>

</html>